
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
[data-v-6ef2ed96]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}.sparkline[data-v-6ef2ed96]{position:relative}.sparkline[data-v-6ef2ed96] .sparkline--cursor{stroke:var(--06ea0760)}.sparkline[data-v-6ef2ed96] .sparkline--spot{fill:var(--46cac418);stroke:var(--46cac418)}.sparkline .tooltip[data-v-6ef2ed96]{position:absolute;background:rgba(0,0,0,.7);color:#fff;padding:2px 5px;font-size:12px;white-space:nowrap;z-index:9999}
