
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
[data-v-f4f1984a]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}.count-to[data-v-f4f1984a]{display:inline-block;margin-bottom:20px;font-size:60px;color:#f6416c}
