
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
[data-v-58969013]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}.demo>.el-icon[data-v-58969013]{color:#606266;margin:0 20px;font-size:1.5em;vertical-align:middle}.demo button[data-v-58969013]{margin:0 20px}.list-icon[data-v-58969013]{display:inline-block;margin:10px}.list-icon i[data-v-58969013]{font-size:32px;color:#606266}
