
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
[data-v-46f6d21e]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}iframe[data-v-46f6d21e]{position:absolute;z-index:1;width:100%;height:100%}
