
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
@charset "UTF-8";[data-v-725988e2]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}.absolute-container[data-v-725988e2]{position:absolute;width:100%;height:100%;display:flex;flex-direction:column}.absolute-container .page-main[data-v-725988e2]{flex:1;overflow:auto;margin-top:0;display:flex;flex-direction:column}.absolute-container .page-main .el-button[data-v-725988e2]{margin-top:20px}
